:host {

    ion-title{
        --color: white;
    }

    ion-text{
        text-align: justify !important;
    }

    p{
        color: black;
    }
    .new-background-color{
        --background: #e49ebb;
    }

    ion-toolbar{
        --background: transparent;
        --ion-color-base: transparent !important;
    }

    ion-content {
        --background: url('/orientagest/assets/img/fundo2.png') no-repeat center center / cover !important;
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }	
    }

   
}