<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-menu-button color="light"></ion-menu-button>
	  </ion-buttons>

	  <!--<img alt="logo" width="50px" src="/orientagest/assets/img/logo.png"> -->

	  <ion-title>
		Referências
	  </ion-title>
	  
	</ion-toolbar>
  </ion-header>

<ion-content fullscreen>
	<br>
	<ion-card no-margin style="margin: none;">
			<ion-card-content style="text-align: justify;">
			<p>ACOG. Committee Obstetric Practice. ACOG Committee opinion, n.267, jan. 2002: exercice during pregnancy and the postpartum period. Obstet Gynecol 2002 jan; 99(1):171-3.</p>
			<br>
			<p>Antonello VS, Cunegatto MC, Rosin ET, Castilhos JX, Beduschi FG, Bumaghuin DB, et al. The use of mobile educational tools to improve antimicrobial prescription for the treatment of acute pyelonephritis in pregnancy: a retrospective cross-sectional study. Rev Bras Ginecol Obstet 2019 feb; 41(2):97-101.</p>
			<br>
			<p>Aquino EF, Rodrigues Júnior V, Lima FJ, Oliveira CAC. Incorporação de tecnologia em saúde. Análise crítica. São Paulo: UNIMED, 2012.</p>
			<br>
			<p>Aungst TD, Clauson KA, Misra S, et al. How to identify, assess and utilize mobile medical applications in clinical practice.Int J Clin Pract. 2014; 68 2: 155– 162</p>
			<br>
			<p>Bachiri M, Idri A, Fernández-Alemán JL, Toval A. Mobile personal health records for pregnancy monitoring functionalities: analysis and potential. Comput Methods Programs Biomed 2016 oct; 134:121-35.</p>
			<br>
			<p>Bashshur RL, Shannon GW, Smith BR, Alverson DC, Antoniotti N, Bashshur N. et al. The empirical foundations of telemedicine interventions for chronic disease management. Telemed J E Health 2014 sep; 20(9):769-800</p>
			<br>
			<p>Belisario JSM, Doherty K, O’Donoghue J, Ramchandani P, Majeed A, Doherty G., et al. A bespoke mobile application for the longitudinal assessment of depression and mood during pregnancy: protocol of a feasibility study. BMJ Open 2017 may; 7(5):e014469.</p>
			<br>
			<p>Beyea S, Nicoll LH. Writing a integrative review. AORN J 1998; 67 (4): 877-880.</p>
			<br>
			<p>Boruff JT, Storie D. Mobile devices in medicine: a survey of how medical students, residentes, and faculty use smartphones and other mobile devices to find infomation. J Med Libr Assoc 2014 jan; 102(1):22-30.</p>
			<br>
			<p>Brasil. Ministério da Saúde. Manual de Telessaúde para atenção básica/atenção primária à saúde. Brasília: MS; 2016.</p>
			<br>
			<p>Brasil. Ministério da Saúde. Programa Telessaúde Brasil Redes. Brasília; BVS; 2016b</p>
			<br>
			<p>Bush J, Barlow DE, Echols J, Wikerson J, Bellevin K. Impacto f a mobile health application on user engagement and pregnancy outcomes among wyoming medicaid members. Telemd J E Health 2017 nov; 23(11):891-98.</p>
			<br>
			<p>Camacho RS, Cantinelli FS, Ribeiro CS, Cantilino A, Gonsales BK, Braguittoni E, et al. Transtornos psiquiátricos na gestação e no puerpério: classificação, diagnóstico e tratamento. Rev Psiquiatr Clin 2006; 33(2):92-102.</p>
			<br>
			<p>Chyjek K, Farag S, Chen KT. Rating pregnancy wheel applications using the APPLICATIONS scoring system. Obstet Gynecol. 2015; 125 6: 1478– 1483.</p>
			<br>
			<p>Cotarelo A, Zaman HT, Jovanovic L, Hod M. Technology and pregnancy. Diabetes TEchnol Ther 2014 feb; 16 Suppl 1; S68-77.</p>
			<br>
			<p>Cruz NS, Soares DKS, Bernardes A, Gabriel CS, Pereira MCA, Évora YDM. Nursing undergraduates' technical competence in informatics. Rev Esc Enferm USP. 2011; 45(spec): 1595-9.</p>
			<br>
			<p>Faherty LI, Hantsoo L, Appleby D, Sammel MD, Bennett IM, Wiebe DJ. Movement patterns in women at risk for perinatal depression: use of a mood-monitoring mobile application in pregnancy. J Am Med Inform Assoc 2017 jul; 24(4):746-53.</p>
			<br>
			<p>Farag S, Chyjek K, Chen KT. Identification of iPhone and iPad applications for obstetrics and gynecology providers. Obstet Gynecol. 2014; 124 5: 941– 945</p>
			<br>
			<p>Hadar E, Stewart ZA, Hod M, Murphy HR. Technology and pregnancy. Diabetes TEchnol Ther 2017 feb; 19(S1):S82-S93.</p>
			<br>
			<p>Halili L, Liu R, Hutchinson KA, Semeniuk K, Redman LM, Adamo KB. Development and pilot evaluation of a pregnancy-specific mobile health tool: a qualitative investigation of SmartMoms Canada. BMC Med Inform Decis Mak, 2018 nov; 18(1):95.</p>
			<br>
			<p>Kennelly MA, Ainscough K, Lindsay K, Gibney E, McCarthy M, McAuliffe FM. Pregnancy, exercise and nutrition research study with smart pohone app support (Pears): study protocol of a randomized controlled trial. Contemp Clin Trials 2016 jan; 46:92-99.</p>
			<br>
			<p>Koch MC, Lermann J, Van de Roemer N, Renner SK, Burghaus S, Hacki J, et al. Improving usability and pregnancy rates of a fertility monitor by an additional mobile application: results of a retrospective efficacy study of daysy and daysyview app. Reprod Health 2018 mar; 15(1):37.</p>
			<br>
			<p>Leite MG, Rodrigues DP, Sousa AAS, Melo LPT, Fialho AVM. Sentimentos advindos da maternidade: revelações de um grupo de gestantes. Psicologia em Estudo. 2014 jan/mar; 19(1):115-124.</p>
			<br>
			<p>Lunde B, Perry R, Sridhar A, et al. An evaluation of contraception education and health promotion applications for patients. Womens Health Issues. 2017; 27 1: 29– 35.</p>
			<br>
			<p>Madeira HGR, Garcia JBS, Lima MVV, Serra HO. Incapacidade e fatores associados à lombalgia durante a gravidez. Rev Bras Ginecol Obst 2013 dez; 35(12):541-8.</p>
			<br>
			<p>Maldonado MT. Psicologia da gravidez. São Paulo: Jaguatirica Digital; 2013.</p>
			<br>
			<p>Miremberg H, Bem-Ari T, Betzer T., Raphaeli H, Gasnier R, Barda G, Bar J, Weiner E. The impact of a daily smartphone-based feedback system among women with gestational diabetes on compliance, glycemic control, satisfaction, and pregnancy outcome: a randomized controlled trial. Am J Obstet Gynecol 2018 apr; 218(4):453.e1-453.e7.</p>
			<br>
			<p>Moglia ML, Nguyen HV, Chyjek K, et al. Evaluation of smartphone menstrual cycle tracking applications using an adapted APPLICATIONS scoring system. Obstet Gynecol. 2016; 127 6: 1153– 1160.</p>
			<br>
			<p>O’Brien CM, Cramp C, Dodd JM. Delivery of dietary and lifestyle interventions in pregnancy: is it time to promote the use of electronic and mobile health Technologies? Semin Reprod Med 2016 mar; 34(2):e22-7.</p>
			<br>
			<p>O’Donnell BE, Lewkowitz AK, Vargas JE, Zlatnik MG. Examining pregnancy-specific smartphone applications: what are patients being told? J Perinatol 2016 oct; 36(10):802-7.</p>
			<br>
			<p>Ozhan Sat S, Yaman Sozbir S. Use of mobile applications and blogs by pregnant women in Turkey and the impact on adaptation to pregnancy. Midwifery 2018 jul; 62:273-77.</p>
			<br>
			<p>Padayachee C, Coombes JS. Exercise guidelines for gestacional diabetes mellitus. World J Diabetes 2015 jul; 6(8):1033-44.</p>
			<br>
			<p>Perry R, Burns RM, Simon R, Youm J. Mobile application use among obstetrics and gynecology residents. J Grad Med Educ 2017 oct; 9(5):611-5.</p>
			<br>
			<p>Perry R, Lunde B, Chen KT. An evaluation of contraception mobile applications for providers of family planning services.Contraception. 2016; 93 6: 539– 544.</p>
			<br>
			<p>Powell AC, Landman AB, Bates DW. In search of a few good apps. JAMA. 2014; 311 18: 1851– 1852</p>
			<br>
			<p>Practice bulletin summary no.153: nausea and vomiting of pregnancy. Obstet Gynecol 2015 sep; 126(3):687-8</p>
			<br>
			<p>Salomé GM, Bueno JC,  Ferreira LM et al.   Multimedia application in a mobile platform for wound treatment using herbal and medicinal plants. J Nurs UFPE on line. 2017; 11(Suppl. 11):4579-88.</p>
			<br>
			<p>Shi W, Xu X, Zhang Y, Guo S, Wang J, Wang J. Epidemiology and risk factors of functional constipation in pregnant women. PLoS One 2015 jul; 10(7):e0133521.</p>
			<br>
			<p>Silva APF, Hirai KN, Silva ME, Hoeredia EP. Os fatores emocionais gerados pela gravidez na adolescência. ConScientiae Saúde 2009; 8(1):91-97.</p>
			<br>
			<p>Sinclair PM, Kable A, Levette-Jones T, Booth D. The effectiveness of internet-based e-learning on clinician behaviour and patient outcomes: a systematic review. Int J Nurs Stud 2016 mary; 57:70-81.</p>
			<br>
			<p>Spanakis EG, Chiarugi F, Kourobali A, Spat S, Beck P, Asanin S. et al. Diabetes management using modern information and communication technologies and new care models. Interact J Med Res 2012 oct; 1(2):e8.</p>
			<br>
			<p>Wootton R. Realtime telemedicine. J Telemed Telecare. 2006; 12(7):328-36.</p>
			<br>
			<p>World Health Organization. E-health. Geneva: WHO, 2016. Disponível em: <http://www.who.int/trade/glossary/story021/en/>. Acesso em: 21 maio 2019.</p>
			<br>
			<p>Yamamoto JM, Murphy HR. Technology and pregnancy. Diabetes Technol Ther 2018 feb; 20(S1):S94-103</p>
			<br>
		</ion-card-content>
	</ion-card>
</ion-content>