<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<ion-header>

	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-menu-button color="light"></ion-menu-button>
	  </ion-buttons>
	  <!--<img alt="logo" width="50px" src="/assets/img/logo.png">  -->

	  <ion-title>
		SINTOMAS 
	  </ion-title>
	  
	</ion-toolbar>
	
  </ion-header>

  <ion-content class="bg-white" fullscreen>
	  <br>
		<p text-center><!--#e74a92-->
			<ion-text style="color: white">
				Olá {{usuario}},<br> seja bem vinda ao APP OrientaGest!
			</ion-text>
			  <br><br>
			<ion-card no-margin>
			<ion-card-content style="text-align: justify;" style="color: white;">
				<h5>Cara gestante: Apresentamos esse modesto trabalho com o intuito de auxiliá-las 
					com esclarecimentos sobre os sintomas fisiológicos que podem ocorrer no primeiro trimestre.
				</h5>
			</ion-card-content>
			</ion-card>
				<br><br>
			<a class="btn btn-app" (click)="cabeca()">
				<i class="fa fa-user fa-2x" style="color:#e49ebb"></i><br>
				<span>CABEÇA E PESCOÇO</span>
			</a> 
			<a class="btn btn-app" (click)="mamas()">
				<i class="fa fa-dot-circle fa-2x" aria-hidden="true" style="color:#e49ebb"></i><br>
				<span>MAMAS</span>
			</a>
			<a class="btn btn-app digest" (click)="digestorio()">
				<!--<i class="fa fa-filter fa-2x" style="color:#e49ebb"></i>--><br>
				<img style="margin-top: -34px;"	width= "30%" src="/orientagest/assets/img/digest.png"><br>
				<span style="font-size: small;">APARELHO DIGESTÓRIO</span>
			</a>
			<a class="btn btn-app" (click)="urinario()">
				<i class="fa fa-female fa-2x" style="color:#e49ebb"></i><br>
				<span>APARELHO URINÁRIO</span>
			</a>
			<a class="btn btn-app" (click)="pele()">
				<i class="fa fa-hand-paper fa-2x" style="color:#e49ebb"></i><br>
				<span>PELE</span>
			</a>
			<a class="btn btn-app" (click)="genital()">
				<i class="fa fa-venus fa-2x" style="color:#e49ebb"></i><br>
				<span>APARELHO GENITAL</span>
			</a>
			<a class="btn btn-app" (click)="postura()">
				<i class="fa fa-street-view fa-2x" style="color:#e49ebb"></i><br>
				<span>POSTURA E MARCHA</span>
			</a>	
		</p>
    
  </ion-content>