<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-menu-button color="light"></ion-menu-button>
	  </ion-buttons>

	  <!--<img alt="logo" width="50px" src="/orientagest/assets/img/logo.png"> -->

	  <ion-title>
		Autores
	  </ion-title>
	  
	</ion-toolbar>
	
  </ion-header>

  <ion-content fullscreen>
	  
	<ion-list no-margin style="margin: none;" style="background: none"> 
	
		<ion-item-group >

		  <ion-item >
			<ion-label text-wrap>
				<p>Sara Novelino Nascentes Stegmann Cruz</p>
				<!--<p>(informações)</p>-->
			</ion-label>
		  </ion-item>

		  <ion-item >
			<ion-label text-wrap>
				<p>Prof.a. Dra. Lyliana Coutinho Rezende Barbosa</p>
				<!--<p>(informações)</p>-->
			</ion-label>
		  </ion-item>

		  <ion-item >
			<ion-label text-wrap>
				<p>Prof. Dr. Geraldo Magela Salomé</p>
				<!--<p>(informações)</p>-->
			</ion-label>
		  </ion-item>
		</ion-item-group>
	</ion-list>	

</ion-content>