<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-menu-button color="light"></ion-menu-button>
	  </ion-buttons>

	  <!--<img alt="logo" width="50px" src="/orientagest/assets/img/logo.png">  -->

	  <ion-title>
		APARELHO DISGESTÓRIO
	  </ion-title>
	  
	</ion-toolbar>
	
  </ion-header>


<ion-content fullscreen>
  <ion-card class="bg-white">
    <ion-card-content>
      <h3 margin-bottom text-dark (click)="toggleDoencas();" style="width:100%; cursor:pointer">
        <div style="width: 98%;">
          <ion-card-title style="font-size: 17px;">GENGIVITES E DOENÇAS PERIODONTAIS
            <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
          </ion-card-title>
        </div>
      </h3>
      <div id="doencas" name="doencas" style="display:none;">
        <br>
        <div class= "">
            <a (click) = "sintomasDoencas();">&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
            </a>
          </div>
        <div class= "">
          <a (click) = "sintomasDoencasConduta();">&nbsp;&nbsp;
          <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br><br>
          </a>
        </div>
      <div class= "">
        <a (click) = "sintomasDoencasAlerta();">&nbsp;&nbsp;
        <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR AJUDA?<br>
        </a>
      </div>
      <p></p>
      </div>
    </ion-card-content>
  </ion-card>

    <ion-card class="bg-white">
        <ion-card-content>
          <h3 margin-bottom text-dark (click)="toggleVolume();" style="width:100%; cursor:pointer">
            <div style="width: 98%;">
              <ion-card-title style="font-size: 17px;">AUMENTO DO VOLUME ABDOMINAL<br> E UTERINO
                <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
              </ion-card-title>
            </div>
          </h3>
          <div id="volume" name="volume" style="display:none;">
            <br>
            <div class= "">
                <a (click) = "sintomasVolume();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
            </div>
            <div class= "">
              <a (click) = "sintomasVolumeAlerta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR AJUDA?<br><br>
              </a>
            </div>
        </div>
      </ion-card-content>
    </ion-card>

      <ion-card class="bg-white">
        <ion-card-content>
          <h3 margin-bottom text-dark (click)="toggleDistensao();" style="width:100%; cursor:pointer">
            <div style="width: 98%;">
              <ion-card-title style="font-size: 17px;">DISTENÇÃO E/OU CONSTIPAÇÃO INTESTINAL
                <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
              </ion-card-title>
            </div>
          </h3>
          <div id="distensao" name="distensao" style="display:none;">
            <br>
            <div class= "">
                <a (click) = "sintomasDistensao();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasDistensaoConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br><br>
              </a>
            </div>
          <div class= "">
            <a (click) = "sintomasDistensaoAlerta();">&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR O HOSPITAL?<br>
            </a>
          </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

      <ion-card class="bg-white">
        <ion-card-content>
          <h3 margin-bottom text-dark (click)="toggleNauseas();" style="width:100%; cursor:pointer">
            <div style="width: 98%;">
              <ion-card-title style="font-size: 17px;">NÁUSEAS
                <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
              </ion-card-title>
            </div>
          </h3>
          <div id="nauseas" name="nauseas" style="display:none;">
            <br>
            <div class= "">
                <a (click) = "sintomasNauseas();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasNauseasConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br><br>
              </a>
            </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

      <ion-card class="bg-white">
        <ion-card-content>
          <h3 margin-bottom text-dark (click)="toggleVomitos();" style="width:100%; cursor:pointer">
            <div style="width: 98%;">
              <ion-card-title style="font-size: 17px;">VÔMITOS
                <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
              </ion-card-title>
            </div>
          </h3>
          <div id="vomitos" name="vomitos" style="display:none;">
            <br>
            <div class= "">
                <a (click) = "sintomasVomitos();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
              <div class= "">
                <a (click) = "sintomasVomitoConduta();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br><br>
                </a>
              </div>
          <div class= "">
            <a (click) = "sintomasVomitosAlerta();">&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR O HOSPITAL?<br>
            </a>
          </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>