<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="white" class="user-profile">

          <ion-item>
            <ion-avatar slot="start" class="user-avatar">
              <img src="/orientagest/assets/img/logo.png">
            </ion-avatar>
            <ion-label>
              <ion-text>
                <h1><strong>Menu</strong></h1>
              </ion-text>
              
            </ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item class="classItem" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="medium"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
          <ion-item class="classItem sair">
            <ion-icon  slot="start" icon ="people" color="medium"></ion-icon>
            <a style="width: 100%;" (click)="autores()">Autores</a>
          </ion-item>
        </ion-menu-toggle>
          <ion-menu-toggle>
          <ion-item class="classItem sair" >
            <ion-icon  slot="start" icon ="book" color="medium"></ion-icon>
            <a style="width: 100%;" (click)="referencias()">Bibliografia</a>
          </ion-item>
        </ion-menu-toggle>
          <ion-item class="classItem sair" >
            <ion-icon  slot="start" icon ="log-out" color="medium"></ion-icon>
            <a style="width: 100%;" (click)= "logout()" >Sair</a>
          </ion-item>
      </ion-list>
    </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
