<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<ion-header>
	<ion-toolbar >
	  <ion-buttons slot="start">
		<ion-menu-button color="light"></ion-menu-button>
	  </ion-buttons>

	  <!--<img alt="logo" width="50px" src="/assets/img/logo.png">-->

	  <ion-title>
		CABEÇA E PESCOÇO
	  </ion-title>
	  
	</ion-toolbar>
	
  </ion-header>

  
<ion-content fullscreen>
    <ion-card class="bg-white">
      <ion-card-content>
        <h3 margin-bottom text-dark (click)="toggleSalivacao();" style="width:100%; cursor:pointer">
          <div style="width: 98%;">
            <ion-card-title style="font-size: 17px;">SALIVAÇÃO
              <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
            </ion-card-title>
          </div>
        </h3>
        <div id="salivacao" name="salivacao" style="display:none;">
            <br>
            <div class= "">
              <a>&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CAUSA É CONHECIDA<br><br>
              </a>
            </div>
            <div class= "">
                <a (click) = "sintomasSalivacao();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasSalivacaoConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br>
              </a>
            </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="bg-white">
      <ion-card-content>
        <h3 margin-bottom text-dark (click)="toggleTontura();" style="width:100%; cursor:pointer">
          <div style="width: 98%;">
            <ion-card-title style="font-size: 17px;">TONTURA
              <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
            </ion-card-title>
          </div>
        </h3>
        <div id="tontura" name="tontura" style="display:none;">
          <br>
            <div class= "">
                <a (click) = "sintomasTontura();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasTonturaConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br><br>
              </a>
            </div>
          <div class= "">
            <a (click) = "sintomasTonturaAlerta();">&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR O HOSPITAL?<br>
            </a>
          </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="bg-white">
      <ion-card-content>
        <h3 margin-bottom text-dark (click)="toggleSonolencia();" style="width:100%; cursor:pointer">
          <div style="width: 98%;">
            <ion-card-title style="font-size: 17px;">SONOLÊNCIA E CANSAÇO
              <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
            </ion-card-title>
          </div>
        </h3>
        <div id="sonolencia" name="sonolencia" style="display:none;">
          <br>
            <div class= "">
                <a (click) = "sintomasSonolencia();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasSonolenciaConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SITOMAS<br><br>
              </a>
            </div>
          <div class= "">
            <a (click) = "sintomasSonolenciaAlerta();">&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR AJUDA?<br>
            </a>
          </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>
 
    <ion-card class="bg-white">
      <ion-card-content>
        <h3 margin-bottom text-dark (click)="toggleAlteracoes();" style="width:100%; cursor:pointer">
          <div style="width: 98%;">
            <ion-card-title style="font-size: 17px;">ALTERAÇÕES EMOCIONAIS
              <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
            </ion-card-title>
          </div>
        </h3>
        <div id="alteracoes" name="alteracoes" style="display:none;">
          <br>
          <div class= "">
            <a>&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;DEVIDO AO AUMENTO DOS HORMÔNIOS NO INÍCIO DA GESTAÇÃO<br><br>
            </a>
          </div>
            <div class= "">
                <a (click) = "sintomasAlteracoes();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasAlteracoesConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR SINTOMAS<br><br>
              </a>
            </div>
          <div class= "">
            <a (click) = "sintomasAlteracoesAlerta();">&nbsp;&nbsp;
            <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR AJUDA?<br>
            </a>
          </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>

   
</ion-content>