:host {

    ion-title{
        --color: white;
    }

    /*.new-background-color{
        --background: pink;
    }*/

    ion-content {
        --background: url('/orientagest/assets/img/fundo.jpg') no-repeat center / cover !important;
    }

    .form-control {
        display: inline-block;
        width: 70%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .75rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .custom-select {
        display: inline-block;
        width: 70%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem 1.75rem .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        border: 1px solid #ced4da;
        border-radius: .75rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    /*ion-content {
        --background: pink !important;
    }*/

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }	
    }

   
}