<!--<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-content>
    <div text-center margin-top>
     
      <div class="auth-content">
        <br><br><br><br><br><br><br>
        <div class = "form-home">
          <form [formGroup]="onLoginForm" class="list-form" action="">
            <div class = 'input-login' style="margin-bottom: 10px;">
              <input type="text" class="form-control" id="" placeholder="Digite seu nome" formControlName="userName">
              <p ion-text class="text08" *ngIf="onLoginForm.get('userName').touched && onLoginForm.get('userName').hasError('required')">
                <ion-text color="danger">Campo obrigatório!</ion-text>
              </p>
            </div>     
              <select class="custom-select" formControlName="weekGest" >
                <option value="" selected disabled>Semanas de gestação</option>
                <option value="1">4-12 semanas</option>
                <option value="2">>13 semanas</option>
              </select>
              <ion-button icon-left size="medium" shape="round" style="width: 70%;" color="secondary" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
                <ion-icon name="log-in"></ion-icon>&nbsp;Entrar
              </ion-button>
          </form>
        </div>
      </div>
      <br><br>
      <div text-center>
        <img width="180px" src="/orientagest/assets/img/logo_Mestrado.png" > 
      </div>
    </div> 
</ion-content>
  