// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

ion-item {
    --ion-item-background: transparent;
	
}
body {font-size: 20px !important;}

ion-content {
  font-size: 20px;
}
ion-content {
  text-align: left;
}

.logo-img {
  margin-top: 20%;

}

.alert-wrapper{
  width: 130% !important;
}



.sintomas {
  > div {
    background: lightgreen !important;
    color: #fff;
    margin-bottom: 10px;
  
  } 
  .alert-title{
    color: black !important;
  }
  .alert-message {
    color: black !important;
    text-align: left;
    font-size: 20px;
  }
  .alert-button-inner{
    color: black !important;
  }
  .alert-wrapper {
    min-width: 100%;
  }
}

.conduta {
  > div {
    background: lightpink !important;
    color: #fff;
    margin-bottom: 10px;
    
  } 
  .alert-title{
    color: black !important;
  }
  .alert-message {
    color: black !important;
    text-align: left ;
    font-size: 20px;
  }
  .alert-button-inner{
    color: black !important;
  }
  .alert-wrapper {
    min-width: 100%;
  }
}

.alerta {
  > div {
    background: tomato !important;
    color: #fff;
    margin-bottom: 10px;
  } 
  .alert-title{
    color: black !important;
  }
  .alert-message {
    color: black !important;
    text-align: left;
    /*text-align: justify;*/
    font-size: 20px;
  }
  .alert-button-inner{
    color: black !important;
  }
  .alert-wrapper {
    min-width: 100%;
  }
}
.alert-title.sc-ion-alert-md, .alert-message.sc-ion-alert-md, .alert-button-inner.sc-ion-alert-md {
    color: #fff;
}

.home{
  background: pink !important;
  
}

.logo {
  width: 75px;
  height: 150px;
  margin: 30px 25px 0px;
  background: url("/orientagest/assets/img/logo_branca.png") no-repeat;
  background-size: 100%;
  display: inline-flex;
  align-content: center;
  margin-left: -205px;
}

.logo p {

  position: absolute;
  padding: 36px;
  font-size: 50px;
  margin-left: 35px;
  font-weight: lighter;
  font-family: cursive;
  color: white;
}
a { color: #284691;}
a:hover { text-decoration:none;}

// backgrounds //
.bg-white {
  background-color: #fff;
}
  
  .bg-light {
    background-color: var(--ion-color-light);
  }
  
  .bg-dark {
      background-color: var(--ion-color-dark);
  }
  
  .bg-primary {
      background-color: var(--ion-color-primary);
  }
  
  .bg-secondary {
      background-color: var(--ion-color-secondary);
  }
  
  .bg-tertiary {
      background-color: var(--ion-color-tertiary);
  }
  
  .bg-profile {
    background-image: linear-gradient(135deg, var(--ion-color-medium), var(--ion-color-light))
  }
  
  .bg-main {
     background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }

  .img-demo {
    margin-bottom: 20px;
  }
  
  // Helpers //
  .w100 {
    width: 100%;
  }
  
  .bold,
  .fw500 {
      font-weight: 500 !important;
  }
  
  .fw700 {
      font-weight: 700 !important;
  }
  
  .text08 {
    font-size: .8rem;
  }
  
  .text09 {
    font-size: .9rem;
  }
  
  .text1 {
    font-size: 1rem !important;
  }

  .text12 {
    font-size: 1.2rem;
  }

  .text15 {
    font-size: 1.5rem;
  }
  
  .text20 {
    font-size: 2rem;
  }
  
  .text-white {
      color: #fff;
  }
  
  .text-primary {
      color: var(--ion-color-primary);
  }

  .text-secondary {
    color: var(--ion-color-secondary);
}
  
  .text-dark {
    color: var(--ion-color-dark);
  }
  
  // menu //
  // Menu user profile
  ion-toolbar.user-profile {
  
    .user-avatar {
      width: 48px;
      height: 96px;
    }
    .item-inner {
      border-width: 0;
    }
  }

  .btn.btn-app {

        
        width: 40%;
        height: 150px;
        margin: 0px auto 0px;
        background-size: 100%;
  }

  // Custom toolbar (overriding Shadow DOM)
  ion-toolbar {
    &.ion-color-primary {
      --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
    }
  }
  
  // Android card shadow
  ion-card {
    &.sc-ion-card-md-h {
      box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb),.24);
	  
    }
  }
  
  // style for auth pages
  .auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  
    .grid {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  
    .btn-group {
      .button-ios,
      .button-md {
        border-radius: 0;
        &:first-of-type {
          border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  
    .auth-content {
      margin: 0 5%;
  
      .logo {
        width: 150px;
        height: 86px;
        margin: 30px auto 0px;
        //border-radius: 10%;
        background: url("/orientagest/assets/img/logo2.png") no-repeat;
        background-size: 100%;
      }
  
      .list-form {
        padding: 0;
        margin-bottom: 0;
  
        ion-item {
		  --highlight-color-invalid: #295696;
		  --highlight-color-valid: #ff7cb2;
          background: none;
          padding: 0;
  
          &:first-child {
            border-top: none;
          }
  
          &:after {
            display: none;
          }
  
          ion-label {
            font-size: 1em;
            color: var(--ion-color-medium);
          }
  
          input {
            color: var(--ion-color-medium);
				.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
					color: black; //label color when focusing
			}
			.item-input .label-md{
					color: black; //label color
			}
          }
        }
      }
    }
  
  }
  
  
  
  // Custom Menu styles (overriding Shadow DOM)
  ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
        }
      }
    }
  }
  
  
  
  .mto {
    margin-top: 12px;
    ion-icon {
      margin-bottom: -2px;
    }
  }
  
  .btn.btn-app {
  position: relative;
  padding: 15px 5px;
  margin: 5px 5px 5px 5px;
  min-width: 40%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 25px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #fafafa;
  font-size: 14px;
  width: 45% !important;
  height: 45%;
}

.btn.btn-app:hover {
  background: #cfcfcf;
  color: #444;
  border-color: #aaa;
  cursor: pointer;
}

.btn.btn-app:active,
.btn.btn-app:focus {
  background: #848fb7;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  i {
       color: #1f366f !important;
    }
  span {
       color: #1f366f !important;
    }
}

.btn.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.50;
  filter: alpha(opacity=50);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.classItem:hover {
  background-color: #cfcfcf;
}

.classItem:active {
  background-color: #848fb7;
  --ion-color: #1f366f !important;
  ion-icon {
        --ion-color-base: #1f366f !important;
    }
  ion-label {
       color: #1f366f !important;
    }
}

// form

input.form-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ccc
}

input.form-input:focus {
  border-color: #284691
}

.sair {
  background: #fff;

}

.btn.btn-app.digest{

  height: 80px !important;
}

