<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-menu-button color="light"></ion-menu-button>
	  </ion-buttons>

	  <!--<img alt="logo" width="50px" src="/assets/img/logo.png">-->

	  <ion-title>
		MAMAS
	  </ion-title>
	  
	</ion-toolbar>
	
  </ion-header>

<ion-content fullscreen>
  <ion-card class="bg-white">
    <ion-card-content>
      <h3 margin-bottom text-dark (click)="toggleMamas();" style="width:100%; cursor:pointer">
        <div style="width: 98%;">
          <ion-card-title style="font-size: 17px;">AUMENTO DA SENSIBILIDADE DAS MAMAS
            <div style="width: 4%; float:right;"><i slot="end" class="fa fa-angle-down" style="color:#e74a92" ></i></div>
          </ion-card-title>
        </div>
      </h3>
      <div id="mamas" name="mamas" style="display:none;">
        <br>
            <div class= "">
                <a (click) = "sintomasMamas();">&nbsp;&nbsp;
                <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;SINTOMAS<br><br>
                </a>
              </div>
            <div class= "">
              <a (click) = "sintomasMamasConduta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;CONDUTA PARA ALIVIAR OS SINTOMAS<br><br>
              </a>
            </div>
            <div class= "">
              <a (click) = "sintomasMamasAlerta();">&nbsp;&nbsp;
              <i slot="star" class="fa fa-angle-double-right" style="color:#e74a92" ></i>&nbsp;QUANDO PROCURAR AJUDA?<br><br>
              </a>
            </div>
          <p></p>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>